.menu__link {
  position: relative;
  @include font(14px, 500, 16px);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-font);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  & .current:hover::after {
    background-color: #2196f3;
  }

  & .current {
    background-color: #2196f3;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
